.smallBtnStyle{
    color: var(--primary-color);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: var(--text-size-s);
    cursor: pointer;
    margin:.4em;
}
.smallBtnStyle:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.formStyle{
    display: flex;
    justify-content: space-around;
}
.passive{
    /* background-color: var(--quaternary-color); */
    filter: opacity(50%);
    text-decoration: none !important;
    cursor: not-allowed;
}
.giveColor{
    color: var(--tertiary-color);
}
.uploadedResumeList{
    display: flex;
    justify-content: space-between;
    padding: .4em;
    border-radius: 1em;
}
.uploadedResumeUl{
    display: grid;
    gap: .4em;
}
.resumeDeleteBtn{
    padding: .5em;
    border-radius: .4em;
    box-sizing: border-box;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}
/* @media screen and (max-width: 430px) {
    .uploadedResumeList{
        width: 100%;
    }
} */