.HomeContainer {
    margin-inline: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 4rem;
    animation: 1s ease-in-out;
}

.HomeContainer {
    background-image: url(../../assets/bg-blob.svg);
}

.textContainer {
    padding-inline: 4rem;
}

.topTitle {
    color: var(--tertiary-color);
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    /* 112.5% */
    letter-spacing: 0.24rem;
    text-transform: uppercase;
}

.mainTitle {
    color: var(--secondary-color);
    /* text-align: center; */
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: var(--text-size-xl);
    padding-block: 1.2rem;
    /* font-style: normal; */
    letter-spacing: 0.02rem;
    font-weight: 700;
    line-height: 3rem;
}

.subTitle {
    color: var(--quaternary-color);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    padding: 0 3rem 2rem 3rem;
    /* Paragraph/Default */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55rem;
    /* 166.667% */
}

.Btn {
    /* display: inline-flex; */
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.3rem; */

    color: var(--primary-color-1);
    border-radius: 26px;
    background: var(--primary-color-1, #4A3AFF);
    box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
    animation: 0.5ms ease-in-out;
    cursor: pointer;
}
.Btn:hover {
    /* background: var(--primary-color-2, #4A3AFF); */
    box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.4);
    animation: 0.5ms ease-in-out;
    
}


.sendMailWrapper {
    position: relative;
    display: inline-block;

}

.sendMailInput {
    width: 38.625rem;
    padding: 24px;
    /* margin: 24px 0; */
    border-radius: 5px;
    font-size: 16px;
    border-radius: 3.75rem;
    /* border: 1px solid var(--neutral-300, #EFF0F6); */
    background: var(--primary-color);
    box-shadow: 0px 8px 25px 0px rgba(13, 10, 44, 0.06);
}

.sendMailBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--primary-color);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: var(--text-size-s);
}

.disclaimerTextBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.disclaimerText {
    color: var(--quaternary-color);
    font-size: calc(var(--text-size-s) - 2px);
    font-style: normal;
    font-weight: 400;
}

.navigationBox {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.forNavBox {

    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.641px;
    flex: 1 0 0;
    align-self: stretch;
    text-align: left;

    border-radius: 17.281px;
    background: #FFF;
    box-shadow: 0px 6.91259765625px 21.601869583129883px 0px rgba(0, 0, 0, 0.06);

}

.techStackUsedBox {
    display: flex;
    flex-direction: row;
}

.forNavBox h2 {
    color: var(--tertiary-color);
    font-size: var(--text-size-m);
    font-weight: 700;
    letter-spacing: -0.277px;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.navDesc {
    color: var(--quaternary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: var(--text-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24.885px */
}

.techBox {
    border: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--tertiary-color);
    font-size: var(--text-size-s);
    font-weight: 500;
    letter-spacing: -0.277px;
    text-transform: capitalize;

}

.whtWeDoTitle {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
}

.whtWeDoTitleText {
    color: var(--tertiary-color);
    text-align: right;
    font-family: Inter;
    font-size: var(--text-size-m);
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 69.231% */
    letter-spacing: 0.39rem;
    text-transform: uppercase;
}

.smallLine {

    width: 1.75rem;
    height: 3px;
    border-radius: 24px;
    background-color: var(--tertiary-color);
}

.line {
    width: 100%;
    height: 1px;
    border-radius: 24px;
    background-color: var(--tertiary-color);
    margin-block: 5rem;
}

/* Define the animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Apply animations to specific elements */
.animate-fade-in {
    animation: fade-in 2s ease forwards;
}

.animate-slide-in {
    animation: slide-in 1s ease forwards;
}

/* Define the animation */
@keyframes fade-in-top-to-bottom {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to specific elements */
.animate-fade-in-top-to-bottom {
    animation: fade-in-top-to-bottom 1s ease forwards;
}


@media screen and (max-width:960px) {

    .HomeContainer {
        padding-inline: 0px;
    }

    .textContainer {
        padding-inline: 0px;
    }

}

@media screen and (max-width:740px) {

    .sendMailInput {
        width: 28rem;
        padding: 24px;
    }

    .navigationBox {
        grid: none;
        display: flex;
        flex-direction: column;
    }



}

@media screen and (max-width:580px) {
    .HomeContainer {
        margin-inline: 2rem;
    }

    .Btn {
        border-radius: 20px;
        padding: 0.8rem 1.75rem 0.8rem 1.75rem;

    }

    .sendMailInput {
        width: 22rem;
        padding: 20px;
    }

    .whtWeDoTitleText {
        font-size: var(--text-size-s);
        letter-spacing: 0.24rem;
    }

    .subTitle {
        padding: 0 1.5rem 2rem 1.5rem;
    }


}

@media screen and(max-width:480px) {}