.navBarContainer {

    padding-block: 2rem;
    margin-inline: 6rem;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

}


.toMVPbtn p {
    color: var(--primary-color);
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off; */
    font-family:'DM Sans',sans-serif;
    font-weight: 700;
    font-size: var(--text-size-s);
    /* font-style: normal; */
}

@media screen and (max-width: 768px) {
    .navBarContainer {
        margin-inline: 2rem;
    }
    .navBarContainer img{
        width: 80px;
    }
}
    
