.jobDescriptionText {
    color: var(--teritary-color);
}

.JobDescMailWrapper {

    position: relative;
    display: inline-block;

    width: 38.625rem;
    padding: 26px;
    /* margin: 24px 0; */
    border-radius: 5px;
    font-size: 16px;
    border-radius: 3.75rem;
    border: 1px solid var(--neutral-300, #EFF0F6);
    background: var(--neutral-100, #FFF);
    box-shadow: 0px 8px 25px 0px rgba(13, 10, 44, 0.06);

}

.jobDescBtn {
    position: absolute;
    top: 5px;
    right: 10px;

}

.JobDescMailWrapper p {
    text-align: left;
    font-size: 14px;
    border-radius: 3.75rem;
    color: var(--quaternary-color);
}

@media screen and (max-width:560px) {
    .JobDescMailWrapper {
        padding: 22px;
    }

}

/* Styles for OUT of Job Descrription */

.titleOut {
    color: var(--tertiary-color);
    text-align: center;
    font-family: 'Inter';
    font-size: var(--text-size-m);
    font-weight: 500;
    line-height: 1.125rem;
    /* 69.231% */
    letter-spacing: 0.39rem;
    text-transform: uppercase;
    padding-block: 2em;
}

.firstBox h2 {
    text-align: left;
    font-size: var(--text-size-m);
    font-style: normal;
    font-weight: 700;
    line-height: 3.875rem;
    /* 163.158% */
    text-transform: capitalize;

}
/* .contentInsideBox{
    display:grid;
    grid-auto-flow: column;
    gap: 12em;
} */
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .child1 { grid-area: 1 / 1 / 3 / 3; }
    .child2 { grid-area: 1 / 3 / 3 / 5; }
    .child3 { grid-area: 1 / 5 / 3 / 7; }
    .child4 { grid-area: 3 / 1 / 5 / 7; }


.contentBox {
    display: inline-flex;
    padding: 4.875rem 3.25rem;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;

    border-radius: 2.2465rem;
    background: rgba(249, 249, 249, 0.20);
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.08);

}
/* .itemBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
} */

.itemBox h1 {
    color: var(--tertiary-color);
    text-align: left;
    font-family: 'Inter';
    font-size: var(--text-size-xm);
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.itemBox p{
    color: var(--quaternary-color);
    text-align:left;
    font-size: var(--text-size-xm);
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;

}
.goToResume p{
    color: var(--primary-color);
    font-size: var(--text-size-xm);
    font-weight: 600;
    /* border-radius: 6px; */
}
.contentInsideBox{
    
}