@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&display=swap');
/* font-family: 'Inter', sans-serif  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {

    --primary-color: #FFFFFF;
    --secondary-color: #170F49;
    --tertiary-color: #4A3AFF;
    --quaternary-color: #6F6C90;

    --text-size-xl :50px;
    --text-size-l :36px;
    --text-size-m: 28px;
    --text-size-s: 16px;

    --letter-spacing-l: 0.24rem;

}

/* Fonts */

/* DM SANS and INTER */

/* font-family: 'DM Sans', sans-serif;
 */